@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------*/
@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/helvetica_bold.otf);
}
@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/helvetica_regular.otf);
}
@font-face {
  font-family: Helvetica-Neue;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Helvetica-Neue-LT-Com-65-Medium.ttf);
}
@font-face {
  font-family: NetflixSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Netflix\ Sans\ Bold.otf);
}
@font-face {
  font-family: NetflixSans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Netflix\ Sans\ Light.otf);
}
@font-face {
  font-family: NetflixSans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Netflix\ Sans\ Medium.otf);
}
@font-face {
  font-family: NetflixSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/NetflixSansRegular.ttf);
}
@font-face {
  font-family: NetflixSans;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/NetflixSansThin.ttf);
}
body {
  font-size: 16px;
  color: #FFFFFF;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: url(/img/background.png) no-repeat center;
  background-size: cover;
}

.zag {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: #FFFFFF;
  width: 100%;
  max-width: 759px;
  padding: 64px 0 0 120px;
}

.container {
  font-size: 55px;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  margin: 25.5px 0 0 0;
}

.nav {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.7;
}

.nav__link {
  color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  margin: 25.5px 32px 8px 0;
  border-bottom: 2px solid transparent;
  position: relative;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
}

.nav__link:hover::after {
  opacity: 1;
}

.search {
  margin: 0 auto;
  border-radius: 16px;
  width: 100%;
  max-width: 1126px;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  height: 60px;
}

.search__form {
  display: flex;
}